* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'poppins';
  padding-bottom: 100px;
}

.container {
  background-image: url(/jumbotron.png);
  background-size: cover;
  height: 655px;
}

.header {
  margin: auto 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 72px;
  margin-bottom: 24px;
}

.content h3 {
  font-size: 26px;
  margin-bottom: 24px;
}

.email {
  background-color: #C08DFD;
  width: 215px;
  height: 60px;
  color: white;
  font-size: 26px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: auto;
  line-height: 60px;
}

.email:hover {
  background-color: #805eaa;
}

.email a {
  text-decoration: none;
  color: white;
  width: 214px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 58px;
}

.main h1 {
  margin-bottom: 24px;
}

.sosmed a {
  padding-left: 20px;
}

.main-profile {
  display: flex;
  justify-content: space-evenly;
}

.profile {
  margin-top: 32px;
  background-color: #C08DFD;
  width: 327px;
  height: 400px;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 22px;
  padding-top: 81px;
}